.question,
.Condition-text,
.Solution-text {
  font-size: 1.5em;
}

.container:nth-of-type(n + 2) {
  display: none;
}

body{
  background-color:#f5deb3;
}

h1#title{color: rgb(33, 226, 226);}

@media print {
  .no-print
  {
    display: none !important;
  }

  .container {
    display: block !important;
    page-break-after: always;
    /* 強制的に直後で改ページさせる */
  }

  body {
    -webkit-print-color-adjust: exact;
    zoom: 0.9;
    size: 210mm 297mm;
  }
}